*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style-type: none;
    border: none;
    outline: none;
    text-decoration: none;
}

html , body{
    width: 100vw;
    height: 100vh;
}

.cabecalho{
    width: 100vw;
    display: flex;
    justify-content: end;
    
}

.cabecalho .menu{
    display: none;
}

.cabecalho button{
    color: #fff;
    background-color: #4CB538;
    margin: 10px 25px 0 0;
    width: 91px;
    height: 31px;
    border-radius: 10px;
}
.cabecalho button:hover{
    color: #161A49;
}

.wrapper{
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.box-text{
    width: 100%;
    text-align: center;
    height: 43%;
}
.box-text h1{
    color: #161A49;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

.box-text p{
    color: #4B505A;
    font-size: 15px;
    line-height: 1.7em;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 300px;
}
.box-text a{
    color: #6FBF44;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    
}
.box-text a:hover{
    text-decoration: underline #161A49;
}
.box-img{
    width: 100%;
    height: 50%;
}

.box-img img{
    display: block;
    width: 350px;
    margin: 0 auto;
}

@media screen and (min-width: 768px ) and (max-width:1200px) {
    .cabecalho button{
        width: 110px;
        height: 40px;
    }
    
    .box-text h1{
        font-size: 3rem;
    }
    
    .box-text p{
        font-size: 25px;
        width: 450px;
    }
    
    .box-text a{
        font-size: 20px;
    }
    
    .box-img img{
        width: 500px;
    }
    
}

@media screen and (min-width:1225px){
    .cabecalho{
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        padding: 5px 4%;
        gap: 20px;

    }

    .cabecalho .menu{
        display: block;
    }
    .cabecalho .menu ul{
        display: flex;
        gap: 40px;
    }
    .cabecalho .menu ul li{
        position: relative;
    }
    .cabecalho .menu ul li::after{
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #161A49;
        transition: width 0.8s ease;
    }
    
    .cabecalho .menu ul li:hover::after{
        width: 100%;
    }

    .cabecalho .menu ul li a{
        color: #111b30;
        font-size: 18px;
    }

    .cabecalho button{
        color: #fff;
        background-color: #4CB538;
        margin: 10px 25px 0 0;
        width: 120px;
        height: 45px;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    .cabecalho button:hover{
        scale: 1.02;
        
    }
    .wrapper{
        margin: 0 auto;
        height: 90vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .box-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 40%;
        text-align: start;
        height: 70%;
    }

    .box-text h1{
        color: #161A49;
        font-size: 4rem;
        text-align: start;
        margin: 0;
    }

    .box-text p{
        color: #4B505A;
        font-size: 1.3rem;
        line-height: 2em;
        letter-spacing: 1px;
        margin: 0;
        width: 490px;
        text-align: justify;
    }

    .box-text a{
        font-size: 1.2rem;
        display: inline;
        margin: 0;
    }

    .box-img{
        width: 60%;
        height: 70%;
        display: flex;
        align-items: flex-start;
    }
    .box-img img{
        width: 600px;
    }
}